.mainDiv{
    background: #3a3a3a;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80vw; */
}

.signature{
    font-size: 1em;
    text-align: center;
    margin-left: 20px;
}
.separatingDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.action{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: center;
}

.box {
    position: flex;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
  
.box select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    outline: none;
}
  
.box::before {
    font-family: FontAwesome;
    position: absolute;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}
  
  
.box select option {
    padding: 30px;
}